.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px; 
    list-style-type: none;
}

.gallery-image {
    width: 360px;
    height: 200px;
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.gallery-image:hover {
    transform: scale(1.1);
}

.basicLightbox--modal {
    background: rgba(46, 47, 66, 0.8);
}